body {
    background: #FAFAFA;
    .LeoBody {
    
            img {
             width: 596px;
             height: 55vh;
             top: 1134px;
             left: 44px;
             gap: 0px;
             border: 8px 0px 8px 8px;
            }
        
    }
}