@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background: #FAFAFA;
    .LeoBody {
         h2 {
            font-family: "Jura";
         }
         p {
            font-family: "Inter";
         }
            img {
             width: 596px;
             height: 55vh;
             top: 1134px;
             left: 44px;
             gap: 0px;
             border: 8px 0px 8px 8px;
            }
        
    }
    .Holdet {
        p {
            border-bottom: 8px solid rgba(44, 59, 111, 1);
            padding-bottom: 5px; 
        }
        img {
            width: 196px;
            height: 196px;
            top: 2464px;
            left: 131px;
            gap: 2rem;
        }
    }
    .Intet {
        border: 8px solid rgba(44, 59, 111, 1);
        margin: 1rem;
        
    }
    .Garanti {
        border: 8px solid rgba(44, 59, 111, 1);
        margin: 1rem;
    }
    .BorVi {
        border: 8px solid rgba(44, 59, 111, 1);
        margin: 1rem;
    }
}