.LeoNavbar {
    color: #002BC2;
    font-family: "Inter", sans-serif;
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;      
   ul {
    li {
        list-style: none;
        text-decoration: none;
        display: flex;              
        justify-content: space-around; 
        padding: 10px;
    }
   }
}